.autoComplete_content {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1.2rem;
}

.resultItem_name {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.resultItem_id {
  display: flex;
  align-items: center;
  font-size: 13px;
  font-weight: 100;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}
